html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
}
/* GLOBALES */
h1{
    font-size: 4rem;
    letter-spacing: 0.1rem;
    color: white;
}
li{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: white;
}
p{
    font-size: 2rem;
    color: grey;
}




/* NAVBAR VISTA DESKTOP */
.navbar {
    display: flex;
}

.ul-navbar__links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60rem;
}

.ul-navbar__redes{
    display: flex;
    width: 35rem;
    list-style: none;
    justify-content: space-evenly;
}
.tamaño-logo-travia{
    height: 8rem;
}
.tamaño-logo-ig{
    height: 3rem;
}
.tamaño-logo-linkedin{
    height: 3rem;
}
.tamaño-logo-facebook{
    height: 3rem;
}
.tamaño-logo-pinterest{
    height: 3rem;
}

/* HEADER */
header{
    background-color: grey;
    height: 55rem;
}
.container-header{
    height: 40rem;
}
.color-p-header{
    color: white;
}
.container-texto-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-boton{
    text-align: center;
    margin-top: 2rem;
}
.boton{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    border-radius: 4rem;
    background-color: rgb(181, 181, 181);
    color: rgb(36, 36, 36);
    padding: 1.2rem 3.6rem;
    margin: 1rem 0rem;
}


/* SECTION CUADRITOS */
.movimiento-up{
    position: relative;
    bottom: 7rem;
}
.container-divs{
    display: flex;
    justify-content: space-around   ;
}
.cajaEstilo{
    margin: 2rem;
    height: 20rem;
    width: 20rem;
    background-color: rgb(181, 181, 181);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cajitaTextoEstio{
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
}
.tamaño-mano{
    height: 3rem;
}

/* SECCCION CAJA VACIA */
.containerCajaVacia{
    display: flex;
    align-items: center;
}
.cajaVacia{
    background-color: #C4C4C4;
    height: 38rem;
    width: 41.4rem;
    border-radius: 12rem 0;
}
.h2cajaVacia{
    font-size: 5rem;
    line-height: 5.9rem;
    font-weight: 500;
    color: #585858;
}
.pCajaVacia{
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #585858;
}

/* DESTINOS */
.sectionDestinos{
    margin-top: 15rem;
    height: 100vh;
}
.containerDestinos{
    position: absolute;
    left: 20rem;
    width: 110rem;
    height: 50rem;
}
.containerIMG{
    height: 30rem;
    position: absolute;
    right: 18rem;
}
.tamañoImagenDestinos{
    height: 60rem;
}
.h2Destinos{
    font-weight: 500;
    font-size: 5rem;
    line-height: 5.9rem;
}
.cajaUlDestinos{
    position: absolute;
    bottom: 9rem;
}
.ulDestinos{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.liDestinos{
    font-size: 3rem;
    line-height: 3.5rem;
    color: #000000;
    font-weight: normal;
}

/* CARDS HOTELES */
.containerGeneralCards{
    width: 100vw;
}
.fondoColorCards{
    background-color: rgba(231, 231, 231, 0.5);
    height: 54rem;
    width: 80vw;
}
.h2CardsHoteles{
    font-size: 5rem;
    line-height: 5.8rem;
    color: #585858;
}
.cajaPrincipalCards{
    height: 28.8rem;
    width: 50rem;
    background-color: #c4c4c4;
    border-radius:15px 15px 0px 0px ;
    margin-left: 5rem;
    margin-top: 8rem;
}
.divContainerCards{
    display: flex;
    position: relative;
    left: 20rem;
    width: 120rem;
}
.containerCajaBlanca{
    width: 13rem;
    height: 5rem;
}
.cajitaBlanca{
    width: 13rem;
    height: 5rem;
    border-radius: 1rem;
    color: #ffff;
}
.containerTextoCards{
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    bottom: -6.3rem;
    width: 35rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.h4Cards{
    font-size: 2rem;
    line-height: 2.6rem;
    color: #000000;
}
.pCards{
    margin: 0;
}
.linkCards{
    color:  #0072F8;
    font-size: 1.8rem;
    margin-right: 1.5rem;
}
.subContainerTextoCards{
    margin-left: 1rem;
}
