/* General */

* {
    margin: 0;
    padding: 0; 
}

header {
    /* font-family: ; */
    font-weight: normal;
}

.navbar-end {
    align-items: flex-end;
}

.active {
    font-weight: bold;
    color: white;
}

header div nav ul li a:hover {
    font-weight: 500;
    color: white !important;
}

.navbar-rrss-icons ul i {
    color: #C4C4C4;
}

.navbar-rrss-icons ul i:hover {
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 375px) {
    /* h1 {
        /* font-weight: 500; */
        /* font-size: 5.5rem; */
        /* margin-bottom: 4vh; 
    } */
    h2 {
        font-weight:500;
        font-size: 25px;
    }
    h3 {
        font-weight: 500;
        font-size: 25px;
    }
    /* h4 {
        font-weight: 500;
        font-size: 2.5rem; 
    }
    h5 {
        font-weight: 500;
        font-size: 1.5rem;
    } */
    h6 {
        font-weight: 500;
        font-size: 16px;
    }
    p {
        font-weight: 400;
        font-size: 19px; 
    } 
}

@media (min-width: 833.99px) and (max-width: 834px) {
    /* h1 {
        /* font-weight: 500; */
        /* font-size: 5.5rem; */
        /* margin-bottom: 4vh; 
    } */
    h2 {
        font-weight:500;
        font-size: 40px;
    }
    h3 {
        font-weight: 500;
        font-size: 30px;
    }
    /* h4 {
        font-weight: 500;
        font-size: 2.5rem;
    }
    /* h5 {
        font-weight: 500;
        font-size: 1.5rem; 
    } */
    h6 {
        font-weight: 500;
        font-size: 18px;
    }
    p {
        font-weight: 400;
        font-size: 25px; 
    } 
}

@media (min-width: 1200px) {
    /* h1 {
        /* font-weight: 500; */
        /* font-size: 5.5rem; */
        /* margin-bottom: 4vh; 
    } */
    h2 {
        font-weight:500;
        font-size: 50px;
    }
    h3 {
        font-weight: 500;
        font-size: 40px;
    }
    /* h4 {
        font-weight: 500;
        font-size: 2.5rem;
    }
    /* h5 {
        font-weight: 500;
        font-size: 1.5rem; 
    } */
    h6 {
        font-weight: 500;
        font-size: 23px;
    }
    p {
        font-weight: 400;
        font-size: 25px; 
    } 
}

.btn {
    background-color:#C4C4C4;
    color:#585858;
    border-radius: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 25px;
    font-style: normal;
}

.btn:hover {
    color: white;
    background-color: #585858;
}

/* Index */

.index-intro {
    /* background-image: url();
    background-position: top;
    background-repeat: no-repeat; */
    background-size: cover;
    height: 70vh;
    padding: 0;
    margin: 0;
    color: white;
    z-index: -5;
}

.index-intro .col {
    text-align: center;
}

.index-intro .col .btn {
    margin-top: 0.5rem;
}

.index--btn {
    background-color:#C4C4C4;
    color:#585858;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    font-size: 25px;
    font-style: normal;
}

.index-intro--cards {
    z-index: 5;
    /* position: absolute; */
    transform: translateY(-50%);
    align-items: center;
}

.index-intro--cards .card {
    background-color:#C4C4C4;
    border-style:none;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    color: #585858;
}

.index-intro--cards .card .card-img-top {
    text-align: center;
    align-self: center;
    font-size: 7vh;
    padding: 5vh 1vh 1vh 2vh;
}

.index-intro--cards .card .card-body {
    text-align: center;
    padding: 1vh 1.5vh 5vh 1.5vh;
}

@media (max-width: 834px) {
    .index-intro--cards .card .card-body p {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .index-intro--cards {
        max-width: 80%;
    }
    .index-intro--cards .card .card-body p {
        font-size: 20px;
    }
}

.index-info {
    align-items: center;
    margin: 12vh 0 12vh 0;
}

.index-info .index-info--img {
    background-color: #C4C4C4;
    border-radius: 70px 0px;
    margin: 0px 4rem 0 4rem;
    height: 55vh;
    width: 55vh;
}

.index-info--txt {
    margin: 3rem 0 3rem 0;
    color: #585858;
}

.index-info--txt h2 {
    margin-bottom: 2rem;
}

.index-mapa {
    padding: 12vh 0 12vh 0;
    margin: 12vh 0 12vh 0;
    /* display: none; */
}

.index-mapa--txt {
    z-index: 15;
}

.index-mapa--img {
    z-index: -15;
    width: 70%;
    left:0;
}

.index-mapa--txt-bajo {
    display: flex;
    align-items: flex-end;
    z-index: 30;
    transform: translateY(30%);
    /* display: none; */
}

.index-mapa--txt-bajo-locacion {
    display: inline;
}

.index-cardshoteles {
    margin: 16vh 0 16vh 0;
    padding: 16vh 0 16vh 0;
}

.index-cardshoteles--fondo {
    background-color: #C4C4C4;
    width: 70%;
    height: 40.500em;
    z-index: -10;
}

.index-cardshoteles--contenido {
    background-color: none;
    z-index: 10;
    transform: translateY(-120%);
}

.index-cardshoteles--card .card {
    border-radius: 2rem;
    border-style: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.index-cardshoteles--card .card .card-body {
    padding: 2rem 2.5rem 2rem 2.5rem;
}

.index-cardshoteles--card .card .card-body .card-title {
    font-size: 1.438em;
    font-weight: 500;
}

.index-cardshoteles--card .card .card-body .card-text {
    font-size: 1.250em;
    font-weight: 300;
}

.index-cardshoteles--card .card .card-body .card-final {
    font-size: 1.125em;
    font-weight: 300;
    color: blue;
    justify-items: flex-end;
}

.index-cardshoteles--card .card .img {
    width: 100%;
    height: 12.500em;
    background-color: #585858;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* .index-cardshoteles--card {

} */

.badge-hotel {
    /* justify-content: flex-end; */
    font-size: 120%;
    padding: 1rem;
}

.index-suscripcion {
    
}

.index-suscripcion form {
    border-style: none;
}

.index-suscripcion .btn {
    border-style: none;
}

.display-none {
    display: none;
}